* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-position: center;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

.navbar {
  max-width: 1400px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
}

.navbar .logo {
  font-size: 0.85em;
  color: #ff1700;
}

.nav-links ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links ul li {
  list-style: none;
  margin-left: 2em;
}

.nav-links ul li a {
  text-decoration: none;
  margin: 0;
  font-size: 0.75em;
  color: #181818;
  -webkit-transition: 0.1s all ease-in;
  transition: 0.1s all ease-in;
}

.nav-links ul li a:hover {
  color: #ff1700;
}

.nav-links ul li .signup,
.nav-links ul li .login {
  padding: 0.5em 1em;
  border-radius: 3px;
}

.nav-links ul li .login {
  border: 1px solid #ff1700;
}

.nav-links ul li .signup {
  color: #ffffff;
  background-color: #ff1700;
}

.nav-links ul li .signup:hover {
  color: #ffffff;
}

.burger {
  width: 40px;
  height: 25px;
  position: absolute;
  top: 1.5em;
  right: 4em;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.bar {
  width: 100%;
  height: 4px;
  background-color: #ff1700;
}

.countdown {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff1700;
  padding: 1em;
}

#day,
#hour,
#minute,
#second {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin-right: 1em;
  color: #ffffff;
  background-color: #181818;
  padding: 0.5em;
}

.main-section {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  min-height: 90vh;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 0 2em;
  color: #181818;
}

.main-section h1 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 400;
  color: #ff1700;
}

.main-section h1 span {
  text-transform: uppercase;
  font-weight: 700;
}

.main-section h1 .small-span {
  font-size: 0.65rem;
}

.main-section p {
  line-height: 1.5;
  font-size: 0.85rem;
  margin-bottom: 1em;
  text-align: justify;
}

.main-section p a {
  text-decoration: none;
  color: #ff1700;
  font-size: 0.65rem;
}

.Launching-soon {
  width: 59%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em 0;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 39%;
}

.image img {
  margin: 0;
  width: 80%;
}

@media all and (max-width: 960px) {
  .burger {
    display: flex;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-links {
    display: none;
    align-self: center;
  }
  .nav-links ul {
    flex-direction: column;
    justify-content: center;
  }
  .nav-links ul li {
    margin-left: 0;
    margin-bottom: 2em;
  }
  .nav-links.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-section P {
    width: 100%;
  }
  .main-section {
    flex-direction: column-reverse;
  }
  .Launching-soon {
    width: 100%;
  }
  .image {
    width: 100%;
  }
}

@media all and (max-width: 585px) {
  #day,
  #hour,
  #minute,
  #second {
    font-size: 0.65rem;
  }
  .main-section h1 {
    font-size: 2em;
  }
}
